@import '001func.styl'

.val-block-multimedia
	display table 
	position relative
	width 155px
	margin 5px 5px 0
	overflow hidden

.-big-img
	width 320px
	overflow hidden 

.val-block-multimedia img 
	height 110px
	width 100%

.val-block-multimedia.-big-img img
	height initial
	